In [2]:
import pandas as pd
import numpy as np

# Create a Pandas dataframe. Loading from HDF5
price_data = pd.read_hdf(
    '../tests/data/prices.hd5', index_col='time')

In [3]:
# get all close prices from the dataframe price_data from column close for all symbols via loc
close_cols1 = price_data.loc[:, price_data.columns.get_level_values(1) == 'open']
close_cols1

symbol               BTCUSDT EOSUSD   ETHUSD LTCUSDT  XRPUSD
candle_info             open   open     open    open    open
open_time
2020-10-01 00:00:00  10759.0  2.578   359.85     NaN  0.2416
2020-10-01 00:30:00  10790.0  2.581   358.95     NaN  0.2416
2020-10-01 01:00:00  10777.0  2.582   359.25     NaN  0.2418
2020-10-01 01:30:00  10793.0  2.588   359.75     NaN  0.2418
2020-10-01 02:00:00  10822.0  2.591   361.20     NaN  0.2424
...                      ...    ...      ...     ...     ...
2021-04-14 21:30:00  62703.5  7.582  2406.20  269.26  1.7818
2021-04-14 22:00:00  62795.0  7.610  2434.05  280.82  1.8181
2021-04-14 22:30:00  62680.0  7.654  2427.00  278.49  1.7827
2021-04-14 23:00:00  62849.5  7.708  2431.30  277.50  1.7995
2021-04-14 23:30:00  62999.0  7.776  2445.95  279.05  1.8301

[9408 rows x 5 columns]

In [25]:
price_data[[('BTCUSDT',  'open')]]

symbol               BTCUSDT
candle_info             open
open_time
2020-10-01 00:00:00  10759.0
2020-10-01 00:30:00  10790.0
2020-10-01 01:00:00  10777.0
2020-10-01 01:30:00  10793.0
2020-10-01 02:00:00  10822.0
...                      ...
2021-04-14 21:30:00  62703.5
2021-04-14 22:00:00  62795.0
2021-04-14 22:30:00  62680.0
2021-04-14 23:00:00  62849.5
2021-04-14 23:30:00  62999.0

[9408 rows x 1 columns]

In [26]:
price_data.columns

MultiIndex([('BTCUSDT',  'open'),
            ('BTCUSDT',  'high'),
            ('BTCUSDT',   'low'),
            ('BTCUSDT', 'close'),
            ( 'EOSUSD',  'open'),
            ( 'EOSUSD',  'high'),
            ( 'EOSUSD',   'low'),
            ( 'EOSUSD', 'close'),
            ( 'ETHUSD',  'open'),
            ( 'ETHUSD',  'high'),
            ( 'ETHUSD',   'low'),
            ( 'ETHUSD', 'close'),
            ('LTCUSDT',  'open'),
            ('LTCUSDT',  'high'),
            ('LTCUSDT',   'low'),
            ('LTCUSDT', 'close'),
            ( 'XRPUSD',  'open'),
            ( 'XRPUSD',  'high'),
            ( 'XRPUSD',   'low'),
            ( 'XRPUSD', 'close')],
           names=['symbol', 'candle_info'])

In [27]:
close_df_BTCUSDT = price_data['BTCUSDT']['close'].to_frame()
close_df_BTCUSDT

                       close
open_time
2020-10-01 00:00:00  10790.0
2020-10-01 00:30:00  10777.0
2020-10-01 01:00:00  10793.0
2020-10-01 01:30:00  10822.0
2020-10-01 02:00:00  10808.5
...                      ...
2021-04-14 21:30:00  62795.0
2021-04-14 22:00:00  62680.0
2021-04-14 22:30:00  62849.5
2021-04-14 23:00:00  62999.0
2021-04-14 23:30:00  62921.0

[9408 rows x 1 columns]