In [1]:
import quantfreedom as qf
import pandas as pd
from quantfreedom.indicators.talib_ind import *
prices = pd.read_hdf('../data/prices.hd5')

In [ ]:
# talib_list_of_indicators()

In [ ]:
# talib_func_list_website_link()

In [ ]:
talib_ind_info('bbands')

In [ ]:
talib_ind_info('stoch')

In [3]:
from_talib(
    func_name='rsi',
    prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[15,20,25,30],
    # price='open',
)

symbol              BTCUSDT                   XRPUSDT
RSI_timeperiod           15    20    25    30      15    20    25    30
open_time
2022-04-01 00:00:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
2022-04-01 00:30:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
2022-04-01 01:00:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
2022-04-01 01:30:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
2022-04-01 02:00:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
...                     ...   ...   ...   ...     ...   ...   ...   ...
2023-01-02 22:00:00   53.93 55.32 56.03 56.35   60.34 61.16 61.02 60.57
2023-01-02 22:30:00   46.42 49.45 51.22 52.28   51.84 54.64 55.72 56.07
2023-01-02 23:00:00   50.39 52.30 53.45 54.12   51.27 54.19 55.34 55.75
2023-01-02 23:30:00   41.23 44.83 47.16 48.69   51.27 54.19 55.34 55.75
2023-01-03 00:00:00   44.21 47.01 48.88 50.11   44.01 48.44 50.59 51.68

[13296 rows x 8 columns]

In [6]:
from_talib(
    func_name='stoch',
    prices=prices,
    cart_product=True,
    combos=False,
    fastk_period=[1,10, 8, 5],
    slowk_period=[15,9],
    slowk_matype=[6,3,7],
)

symbol              BTCUSDT                                                  \
STOCH_output_names    slowk
STOCH_fastk_period       1                                   10
STOCH_slowk_period       15                9                 15
STOCH_slowk_matype        6     3     7     6     3     7     6     3     7
STOCH_slowd_period        3     3     3     3     3     3     3     3     3
STOCH_slowd_matype        0     0     0     0     0     0     0     0     0
open_time
2022-04-01 00:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 00:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 02:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...                     ...   ...   ...   ...   ...   ...   ...   ...   ...
2023-01-02 22:00:00   49.41 36.51 18.20 48.03 28.06 18.20 54.64 52.23 57.60
2023-01-02 22:30:00   49.33 36.62 19.24 47.88 30.54 19.24 52.35 43.47 55.51
2023-01-02 23:00:00   49.45 43.34 21.63 48.04 42.61 21.63 50.99 39.18 53.42
2023-01-02 23:30:00   49.25 39.86 25.22 47.81 37.51 25.22 48.13 31.86 32.45
2023-01-03 00:00:00   49.70 48.11 27.77 48.04 50.91 27.77 47.51 28.56 31.96

symbol                     ... XRPUSDT                                      \
STOCH_output_names         ...   slowd
STOCH_fastk_period         ...      8                       5
STOCH_slowk_period     9   ...      15    9                 15
STOCH_slowk_matype      6  ...       7     6     3     7     6     3     7
STOCH_slowd_period      3  ...       3     3     3     3     3     3     3
STOCH_slowd_matype      0  ...       0     0     0     0     0     0     0
open_time                  ...
2022-04-01 00:00:00   NaN  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 00:30:00   NaN  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:00:00   NaN  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:30:00   NaN  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 02:00:00   NaN  ...     NaN   NaN   NaN   NaN   NaN   NaN   NaN
...                   ...  ...     ...   ...   ...   ...   ...   ...   ...
2023-01-02 22:00:00 42.10  ...   59.13 55.78 58.47 59.13 52.50 53.29 61.06
2023-01-02 22:30:00 40.22  ...   57.86 54.15 49.13 57.86 51.20 47.00 52.53
2023-01-02 23:00:00 39.43  ...   49.21 51.61 36.22 49.21 49.32 37.95 43.60
2023-01-02 23:30:00 36.88  ...   40.81 49.42 25.85 40.81 47.55 30.96 35.18
2023-01-03 00:00:00 35.76  ...   32.60 47.39 17.05 32.60 45.82 24.26 33.82

symbol
STOCH_output_names
STOCH_fastk_period
STOCH_slowk_period     9
STOCH_slowk_matype      6     3     7
STOCH_slowd_period      3     3     3
STOCH_slowd_matype      0     0     0
open_time
2022-04-01 00:00:00   NaN   NaN   NaN
2022-04-01 00:30:00   NaN   NaN   NaN
2022-04-01 01:00:00   NaN   NaN   NaN
2022-04-01 01:30:00   NaN   NaN   NaN
2022-04-01 02:00:00   NaN   NaN   NaN
...                   ...   ...   ...
2023-01-02 22:00:00 48.60 55.00 61.06
2023-01-02 22:30:00 47.77 45.16 52.53
2023-01-02 23:00:00 46.79 32.13 43.60
2023-01-02 23:30:00 46.53 23.49 35.18
2023-01-03 00:00:00 45.77 15.90 33.82

[13296 rows x 96 columns]

In [ ]:
talib_ind_info('atr')